.div-novo-gerente{
    background-color: rgba(127, 255, 212, 0);
    margin-right: 50px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}
.novo-gerente{
    display: flex;
    align-items: center;
    column-gap: 3px;
    background-color: green;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    padding: 5px 7px;
}
.novo-gerente:hover{
    background-color:  rgb(4, 78, 4);
}
.novo-gerente > div{
    font-weight: bold;
}


.lista-cards{
    background-color: rgba(255, 228, 196, 0);
    display: flex;
    column-gap: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    background-color: #eee7e7;
    border-radius: 10px;
    width: 300px;
    height: auto;
    padding: 15px 25px;
    margin-bottom: 30px;
}

.nome{
    width: 100%;
    text-align: center;
    background-color: rgba(255, 0, 0, 0);
    font-weight: bolder;
    font-size: 20px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style:dashed;
}

.parte-inferior{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.div-dados{
    width: 250px;
}

.dado{
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.div-botoes{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    background-color: rgba(255, 235, 205, 0);
}

.botao{
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
}


.botao-deletar{
    background-color: red;
}

.botao-deletar:hover{
    background-color: rgb(114, 4, 4);
}

.botao-editar{
    background-color: green;
}

.botao-editar:hover{
    background-color: rgb(4, 78, 4);
}



.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  text-align: center;
}

.modal-content p {
  margin: 0;
  font-size: 16px;
}

.modal-content button {
  padding: 8px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.modal-content button:first-of-type {
  background-color: green;
}

.modal-content button:first-of-type:hover {
  background-color: rgb(5, 89, 5);
}

.modal-content button:last-of-type {
  background-color: red;
}

.modal-content button:last-of-type:hover {
  background-color: rgb(110, 13, 13);
}