<div class="div-novo-gerente">
    <button class="novo-gerente" (click)="abrirModal()">
        <mat-icon>queue</mat-icon>
        <div>Novo Gerente</div>
    </button>
</div>

<div class="lista-cards">
    <div class="card" *ngFor="let gerente of gerentes">
        <div class="nome">{{ gerente.nome }}</div>
    
        <div class="parte-inferior">
            <div class="div-dados">
                <p class="dado">
                    <strong>CPF: </strong>
                    <span>{{ gerente.cpf }}</span>
                </p>
    
                <p class="dado" style="background-color: rgba(255, 192, 203, 0);">
                    <strong>Email: </strong>
                    <span>{{ gerente.email }}</span>
                </p>
    
                <p class="dado">
                    <strong>Telefone: </strong>
                    <span>{{ gerente.telefone }}</span>
                </p>
            </div>
            <div class="div-botoes">
                <button 
                    class="botao botao-deletar"
                    (click)="confirmarDelecao(gerente)">
                    <mat-icon>delete_forever</mat-icon>
                </button>
                <button class="botao botao-editar" (click)="abrirEditarGerentes(gerente)">
                    <mat-icon>border_color</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<app-modal-novo-gerente 
  *ngIf="mostrarModal"
  (fechar)="fecharModal()"
  (atualizado)="recarregarGerentes()">
</app-modal-novo-gerente>

<app-modal-editar-gerente
*ngIf="mostrarEditarGerente"
[gerente]="gerenteSelecionado"
(fechar)="fecharEditarGerentes()"
(atualizado)="recarregarGerentes()">

</app-modal-editar-gerente>

<div class="modal" *ngIf="mostrarConfirmacao">
  <div class="modal-content">
    <p>Tem certeza que deseja deletar este gerente?</p>
    
    <button (click)="deletarGerenteConfirmado()">Confirmar</button>
    <button (click)="mostrarConfirmacao = false">Cancelar</button>
  </div>
</div>

<div class="modal" *ngIf="mostrarErro">
  <div class="modal-content">
    <p>{{ mensagemErro }}</p>
    <button (click)="mostrarErro = false">OK</button>
  </div>
</div>