<div class="content">


  <div class="main-content">

    <div class="pesquisa">
      <h1>Buscar Cliente</h1>
      <p>Digite o CPF  do cliente.</p>

      <input 
        type="text"
      
        [(ngModel)]="cpfBusca"
      >

      <button (click)="buscarCliente()">Buscar</button>
    </div>




    <div class="info" *ngIf="clienteSelecionado">


      <div class="card">
        <h2>Dados do Cliente</h2>

        <p><span>Nome</span> {{clienteSelecionado.nome}}</p>
        <p><span>CPF</span> {{clienteSelecionado.cpf | mask:'000.000.000-00'}}</p>
        <p><span>Email</span> {{clienteSelecionado.email}}</p>
        <p><span>Salário</span> {{clienteSelecionado.salario | currency:'BRL'}}</p>
        <p><span>Telefone</span> {{clienteSelecionado.telefone}}</p>
       
      </div>
<div class="card">
<h2>Endereço</h2>
        <p><span>Rua</span> {{clienteSelecionado.endereco?.rua}}</p>
        <p><span>Número</span> {{clienteSelecionado.endereco?.numero}}</p>
        <p><span>Bairro</span> {{clienteSelecionado.endereco?.bairro}}</p>
        <p><span>Cidade</span> {{clienteSelecionado.endereco?.cidade}}</p>
        <p><span>Estado</span> {{clienteSelecionado.endereco?.estado}}</p>
       </div>
        
  
      <div class="card">
        <h2>Dados da Conta</h2>

        <p><span>Número</span> {{clienteSelecionado.conta?.numeroConta}}</p>

        <p>
          <span>Saldo</span> {{clienteSelecionado.conta?.saldo | currency:'BRL'}}
        </p>

        <p><span>Limite</span> {{clienteSelecionado.conta?.limite | currency:'BRL'}}</p>
        <p><span>Data</span> {{clienteSelecionado.conta?.dataAbertura | date:'dd/MM/yyyy'}}</p>
      </div>

    </div>

    <div class="negativo" *ngIf="!clienteSelecionado">
      <p >
        Cliente não encontrado.
      </p>
    </div>
  </div>
</div>