<div class="content">

  

  <main class="main-content">
 

    <h2 class="titulo">Gerentes</h2>

    <div class="container-cards" >
      <p *ngIf="gerentes.length === 0">
  Carregando dados...
</p>

      <div class="card" *ngFor="let gerente of gerentes">
        <h3>{{ gerente.nome }}</h3>
        
        <div class="dados">
          <p class="clientes">
            <strong>Nº Clientes:</strong> {{ gerente.numeroClientes }}
          </p>

          <p class="negativo">
            <strong>Total Saldo Negativo:</strong>
            {{ gerente.saldoNegativo | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </p>

          <p class="positivo">
            <strong>Total Saldo Positivo:</strong>
            {{ gerente.saldoPositivo | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}
          </p>
        </div>
      </div>

    </div>
  </main>
  
  <label for="menu-alt" class="sobreposicao"></label>
</div>